:root {
  --bg-color: #6090e7;
  --primary-color: #d7e3f9;
  --secondary-color: white;
  --primary-text: rgba(40, 40, 40, 0.969);
  --secondary-text: #6090e7;
  --muted-text: #616161;
  --primary-gradient: radial-gradient(
    circle at 48.7% 44.3%,
    rgb(30, 144, 231) 0%,
    rgb(56, 113, 209) 22.9%,
    rgb(38, 76, 140) 76.7%,
    rgb(31, 63, 116) 100.2%
  );
  --secondary-gradient: linear-gradient(
    109.6deg,
    rgb(61, 121, 176) 12%,
    rgb(35, 66, 164) 80%,
    rgb(61, 121, 176) 12%
  );
}

body {
  background: linear-gradient(#608fe7af, #608fe7af),
    url("../../../media/bg-photo.jpg");
  background-position: center;
}

.App {
  font-family: "Open Sans", sans-serif;
  margin: 60px auto;
  max-width: 1000px;
  width: 85%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.255);
  border-radius: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Sans Gunjala Gondi", sans-serif;
}

.gradient {
  background-clip: text;
  color: transparent;
}

header,
.Footer {
  text-align: center;
  padding: 30px 20px;
  background: linear-gradient(
      rgba(215, 227, 249, 0.75),
      rgba(215, 227, 249, 0.75)
    ),
    url("../../../media/header-footer-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  border-radius: 15px 15px 0 0;
}

.Footer {
  border-radius: 0 0 15px 15px;
}

h1,
h6 {
  background: var(--primary-gradient);
}

h6 {
  margin: 10px auto;
}

.Main {
  background-color: var(--secondary-color);
}

@media (max-width: 567px) {
  header,
  .Footer {
    padding: 15px 20px;
  }
}
