p {
  color: var(--primary-text);
}

.Footer {
  font-size: 14px;
}

.Footer .gradient {
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Footer a {
  text-decoration: none;
  font-weight: bold;
  background: var(--primary-gradient);
  transition: all ease-in-out 300ms;
}

.Footer a:hover {
  background: var(--secondary-gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Footer .copyright {
  font-family: "Roboto", sans-serif;
  opacity: 0.8;
}