.search-wrapper {
  padding: 30px 20px;
}

form {
  max-width: 600px;
  margin: 0 auto;
}

.search-box,
.submit-button {
  background-color: var(--primary-color);
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}

.search-box {
  color: var(--secondary-text);
  width: 100%;
}

.search-box::placeholder {
  color: var(--secondary-text);
  opacity: 0.85;
}

.search-box:focus {
  outline: 1px solid var(--bg-color);
}

.submit-button {
  background-color: var(--bg-color);
  color: white;
  transition: all ease-in-out 400ms;
  width: 100%;
}

.btn-wrapper {
  perspective: 200px;
  transform-style: preserve-3d;
}

.btn-wrapper:hover > .submit-button {
  transform: rotateX(360deg);
  cursor: pointer;
  outline: 1px solid var(--bg-color);
  background: linear-gradient(
      rgb(96, 144, 231, 0.4),
      rgba(255, 255, 255, 0.863) 70%,
      rgb(96, 144, 231, 0.4)
    ),
    url("../../../media/button-bg.jpg");
  background-size: cover;
  color: var(--secondary-text);
}

.tip {
  font-size: small;
  font-style: italic;
  color: var(--muted-text);
}

.CurrentWeather,
.loading {
  background-color: var(--primary-color);
}

.Forecast {
  background-color: var(--secondary-color);
}
@media (max-width: 700px) {
  .search-box,
  .submit-button {
    font-size: 14px;
  }
}
@media (max-width: 575.5px) {
  .search-box,
  .submit-button {
    display: block;
    margin: auto;
    text-align: center;
  }
  .search-box {
    width: 85%;
  }
  .submit-button {
    width: 80px;
    margin-top: 10px;
  }
}

@media (max-width: 300px) {
  .unit {
    display: block;
    margin-top: 30px;
  }
}
