.CurrentWeather {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  color: var(--muted-text);
}

.left-float {
  padding: 0 10px;
}

.temperature-wrapper {
  padding-bottom: 10px;
  text-align: center;
}

.icon {
  font-size: 32px;
  position: relative;
  padding-right: 10px;
  bottom: -5px;
}

.temperature {
  font-weight: bold;
  font-size: 75px;
  color: var(--primary-text);
}

.unit {
  position: relative;
  top: -40px;
  font-weight: 500;
}

.CurrentWeather a {
  color: #208DE5;
}

.feels-like {
  text-align: center;
}

.location {
  color: var(--primary-text);
  font-weight: bold;
  font-size: 35px;
  margin: 10px 0;
}

ul {
  padding: 32px 25px;
  display: flex;
  flex-direction: column;
}

li {
  list-style: none;
  line-height: 1.7;
}

.blue-text {
  color: var(--secondary-text);
}
