form {
  display: flex;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 30px 20px;
}

.search-box,
.submit-button {
  background-color: var(--primary-color);
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}

.search-box {
  margin-right: 5px;
  width: 100%;
  color: var(--secondary-text);
}

.search-box::placeholder {
  color: var(--secondary-text);
  opacity: 0.85;
}

.search-box:focus {
  outline: 1px solid var(--bg-color);
}

.submit-button {
  background-color: var(--bg-color);
  color: white;
  transition: all ease-in-out 400ms;
}

.btn-wrapper {
  perspective: 200px;
  transform-style: preserve-3d;
}

.btn-wrapper:hover > .submit-button {
  transform: rotateX(360deg);
  cursor: pointer;
  outline: 1px solid var(--bg-color);
  background:linear-gradient(rgba(112, 150, 215, 0.4), rgb(255, 255, 255,0.8)70%,rgba(112, 150, 215, 0.4)) ,url("../../../media/bg-photo.jpg");
  background-size: cover;
  color: var(--secondary-text);
}

.CurrentWeather,
.Forecast {
  padding: var(--section-padding);
}

.CurrentWeather {
  background-color: var(--primary-color);
}

.Forecast {
  background-color: var(--secondary-color);
}
