.CurrentWeather {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  color: var(--muted-text);
}

.left-float {
  padding: 0 10px;
}

.temperature-wrapper {
  padding-bottom: 10px;
  text-align: center;
}

.icon {
  position: relative;
  bottom: -10px;
}

.temperature {
  font-weight: bold;
  font-size: 55px;
  color: var(--primary-text);
}

.unit {
  position: relative;
  top: -40px;
  font-weight: 500;
}

.CurrentWeather a {
  color: var(--secondary-text);
}

.location {
  color: var(--primary-text);
  font-weight: bold;
  font-size: 48px;
  margin: 0 0 10px;
}

.right-float {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  flex-direction: column;
}

li {
  list-style: none;
  line-height: 1.7;
}

.bluish-grey-text {
  color: #667a8f;
}

@media (max-width: 700px) {
  .icon {
    bottom: -13px;
  }
  .temperature {
    font-size: 45px;
  }
  .unit {
    top: -24px;
    font-weight: normal;
  }
  .location {
    font-size: 38px;
  }
}

@media (max-width: 500px) {
  .CurrentWeather {
    flex-direction: column;
  }
  .right-float {
    text-align: center;
    margin-top: 30px;
  }
}
