.CurrentWeather {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  color: var(--muted-text);
}

.left-float {
  padding: 0 10px;
}

.temperature-wrapper {
  padding-bottom: 10px;
  text-align: center;
}

.icon {
  font-size: 32px;
  position: relative;
  bottom: -5px;
}

.temperature {
  font-weight: bold;
  font-size: 65px;
  color: var(--primary-text);
}

.unit {
  position: relative;
  top: -40px;
  font-weight: 500;
}

.CurrentWeather a {
  color: var(--secondary-text);
}

.location {
  color: var(--primary-text);
  font-weight: bold;
  font-size: 48px;
  margin:0 0 10px ;
}

ul {
  padding: 40px 25px;
  display: flex;
  flex-direction: column;
}

li {
  list-style: none;
  line-height: 1.7;
}

.bluish-grey-text {
  color: #667a8f;
}
